/* Main Style */
#work
    background-color: #2C343D

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
    #work
        padding-top: 20px
        padding-bottom: 30px

    /* Card Styling */
    .card
        margin: 20px 20px
        border-radius: 25px
        height: 501px
        box-shadow: 10px 10px 10px black

    .card-title
        font-weight: bold
        font-size: 28px

    .card-text
        font-size: 20px

    .card-image
        margin: 10px
        width: 295px
        height: 200px
        background-color: black
        border-radius: 25px

    .card-body
        margin: 0px 20px

    .card-link
        text-align: right
        margin: 0px 25px
        color: #747474
    
    /* Styling the logos */
    .imageLogo
        margin-left: -20px
        width: 100px
        height: 80px

    .imageLogo2
        margin-top: 30px
        width: 70px
        height: 100px

    .imageLogo3
        margin-left: -10px
        width: 70px
        height: 70px

    .imageLogo4
        margin-left: 10px
        width: 80px
        height: 40px
    
    .MoreWork
        margin-top: 100px
        margin-left: 70px

    .rocket
        width: 200px
        height: 200px   
     
    .MoreWork h1 
        margin-left: -35px
        margin-top: 30px
        font-size: 32px
        font-weight: bold
        color: white

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
    #work
        padding-top: 20px
        padding-bottom: 30px

    /* Card Styling */
    .card
        margin: 20px 20px
        border-radius: 25px
        height: 501px
        box-shadow: 10px 10px 10px black

    .card-title
        font-weight: bold
        font-size: 28px

    .card-text
        font-size: 20px

    .card-image
        margin: 10px
        width: 295px
        height: 200px
        background-color: black
        border-radius: 25px

    .card-body
        margin: 0px 20px

    .card-link
        text-align: right
        margin: 0px 25px
        color: #747474
    
    /* Styling the logos */
    .imageLogo
        margin-left: -20px
        width: 100px
        height: 80px

    .imageLogo2
        margin-top: 30px
        width: 70px
        height: 100px

    .imageLogo3
        margin-left: -10px
        width: 70px
        height: 70px

    .imageLogo4
        margin-left: 10px
        width: 80px
        height: 40px
    
    .MoreWork
        margin-top: 100px
        margin-left: 70px

    .rocket
        width: 200px
        height: 200px   
     
    .MoreWork h1 
        margin-left: -35px
        margin-top: 30px
        font-size: 32px
        font-weight: bold
        color: white

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 